{% extends 'base.html.twig' %}

{% block body %}
<h2>About Us</h2>

<p>Hello, welcome to the BETTER HERALD.... We may be biased but we think our newspaper is way better than the previous one. If you think you're cool, sorry. We definitely win. Feel free to read some hilarious articles and have a laugh.</p>
<p>However, if you've come here for more serious news... There are a few. Feel free to have a look around!</p>

<div id="jimmylaughing"></div>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/final-project-242/web/bundles/framework/css/project.css">
{% endblock %}
