{% extends 'base.html.twig' %}

{% block body %}
<h2>About Us</h2>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/final-project-242/web/bundles/framework/css/project.css">
{% endblock %}
