{% extends 'base.html.twig' %}

{% block body %}
 
     <h2>Recent Articles</h2>
       {% for article in articles %}
          {% if loop.index0 < 3 %}
                <h3>{{ article.title }}</h3>
                <p>{{ article.content|striptags|slice(0, 50) }}...</p>
                <a href="{{ path('article_show', { 'id': article.id }) }}">Read More</a>
          {% endif %}
        {% endfor %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/final-project-242/web/bundles/framework/css/project.css">
{% endblock %}