<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}The Better Herald!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/final-project-242/web/bundles/framework/css/project.css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="//code.jquery.com/jquery-1.11.3.js"></script>
        <script>
            $('li').click(function(){
  
              $(this).addClass('active')
                 .siblings()
               .removeClass('active');
                });
        </script>
    </head>
    <body>
    <div class="nav-container">
        <ul class="nav">
            <li class="active">
              {% if app.request.attributes.get('_route') == 'homepage' %}
              <a href="#">
              {% else %}
              <a href="../">
              {% endif %}
                <span class="icon-home"></span>
                <span class="text">Home</span>
              </a>
            </li>
            <li>
              <a href="/final-project-242/web/app_dev.php/about">
                <span class="icon-user"></span>
                <span class="text">About</span>
              </a>
              </li>
            <li>
              <a href="/final-project-242/web/app_dev.php/article">
                <span class="icon-headphones"></span>
                <span class="text">Articles</span>
              </a>
              </li>
            <li>
              <a href="/final-project-242/web/app_dev.php/category">
                <span class="icon-picture"></span>
                <span class="text">Categories</span>    
              </a>
            </li>
            {% if not (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN'))%}
            <li>
              <a href="/final-project-242/web/app_dev.php/login">
                <span class="icon-facetime-video"></span><span class="text">Login</span>
              </a>
            </li>
            <li>
              <a href="/final-project-242/web/app_dev.php/register">
                <span class="icon-facetime-video"></span><span class="text">Register</span>
              </a>
            </li>
            {% endif %}
          {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
            <li>
              <a href="/final-project-242/web/app_dev.php/logout">
                <span class="icon-facetime-video"></span><span class="text">Logout</span>
              </a>
            </li>
          {% endif %}
        </ul>
    </div>

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                
                
                <h1 class="headline">Welcome to the <span id="herald"> Better Herald</span></h1>
            </div>
            <div id="newbox">
            {% block body %}{% endblock %}
            </div> 
           

        </div>
    </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>


